| Worker | Tests | Total Duration (ms) |
|--------|-------|----------------------|
| ForkJoinPool-1-worker-4 | ui.[3] 5000.00 (2905 ms) | 2905 |
| ForkJoinPool-1-worker-2 | ui.[1] 0.01 (2905 ms) | 2905 |
| ForkJoinPool-1-worker-3 | ui.[2] 4999.99 (2905 ms) | 2905 |
