| Worker | Tests | Total Duration (ms) |
|--------|-------|----------------------|
| ForkJoinPool-1-worker-8 | ui.userChangeNameToEmptyTest() (1717 ms) | 1717 |
| ForkJoinPool-1-worker-9 | api.userGetTransactionsInfoAnotherUserAccountTest() (912 ms)<br>api.[1] 999 (218 ms)<br>api.userGetAccessTransactionsInfoTest() (294 ms) | 1424 |
| ForkJoinPool-1-worker-6 | api.userTransferFromNotExistAccountTest() (275 ms)<br>api.userTransferToNotExistAccountTest() (325 ms)<br>api.transferred balance =-0.1 (663 ms) | 1263 |
| ForkJoinPool-1-worker-7 | ui.[3] 5000.00 (3185 ms) | 3185 |
| ForkJoinPool-1-worker-12 | api.username=HvryOQNZC, password=BAFcpun014%& (979 ms)<br>api.userTransferFromAnotherUserAccountTest() (795 ms) | 1774 |
| ForkJoinPool-1-worker-11 | api.unAuthUserChangeNameTest() (976 ms)<br>ui.userTransferToAnotherUserTest() (7165 ms) | 8141 |
| ForkJoinPool-1-worker-22 | api.userTransferToSameAccountTest() (382 ms) | 382 |
| ForkJoinPool-1-worker-10 | api.userDepositToAccountTest() (266 ms)<br>api.unAuthUserDepositToAccountTest() (42 ms)<br>api.unAuthUserGetAccountsInfoTest() (16 ms)<br>api.userGetAccountsInfoTest() (230 ms) | 554 |
| ForkJoinPool-1-worker-21 | api.username=, password=BAFcpun014%& (74 ms)<br>api.username=q9UOfVl5XxEM20, password=DQHumxt371$$ (186 ms)<br>api.userGetTransactionsInfoOnlyHisAccountTest() (905 ms) | 1165 |
| ForkJoinPool-1-worker-20 | api.userTransferToAnotherHisAccountTest() (719 ms)<br>api.transferred balance =400.0 (405 ms) | 1124 |
| ForkJoinPool-1-worker-1 | ui.[1] ACC20000, true, ? No user found with this account number. (4239 ms) | 4239 |
| ForkJoinPool-1-worker-4 | api.changeUserNameTest() (2349 ms)<br>ui.shouldNotAllowUserToTransferMoreMoneyThanHeHasTest() (4369 ms) | 6718 |
| ForkJoinPool-1-worker-5 | api.unAuthUserGetAccessTransactionsInfoTest() (146 ms)<br>api.checkUserTransactionsAttributesTest() (1528 ms) | 1674 |
| ForkJoinPool-1-worker-2 | api.userDepositToNotExistAccountTest() (121 ms)<br>api.balance=-1.0 (123 ms)<br>api.balance=0.0 (145 ms) | 389 |
| ForkJoinPool-1-worker-3 | api.userTokenFormatTest() (2100 ms)<br>api.userLoginTest() (627 ms)<br>api.unAuthUserTransferToAnotherHisAccountTest() (262 ms) | 2989 |
| ForkJoinPool-1-worker-16 | ui.userChangeNameTest() (799 ms) | 799 |
| ForkJoinPool-1-worker-15 | api.userTransferToAnotherUserAccountTest() (1210 ms) | 1210 |
| ForkJoinPool-1-worker-14 | ui.userDoesNotFillRequiredFieldsTest() (4011 ms) | 4011 |
| ForkJoinPool-1-worker-13 | ui.[2] 5001, 0.00, ? Please deposit less or equal to 5000$. (2822 ms) | 2822 |
| ForkJoinPool-1-worker-19 | api.userDepositToAnotherUserAccountTest() (903 ms)<br>api.transferred balance =0.0 (381 ms) | 1284 |
| ForkJoinPool-1-worker-18 | api.username=, password= (873 ms)<br>api.username=q9UOfVl5XxEM20, password= (191 ms)<br>ui.[1] 000000001, 0.00, Please enter a valid amount. (1245 ms) | 2309 |
| ForkJoinPool-1-worker-17 | ui.[2] null, false, ? Please fill all fields and confirm. (3636 ms) | 3636 |
