| Worker | Tests | Total Duration (ms) |
|--------|-------|----------------------|
| ForkJoinPool-1-worker-4 | ui.[3] 5000.00 (34460 ms) | 34460 |
| ForkJoinPool-1-worker-2 | ui.[1] 0.01 (33449 ms) | 33449 |
| ForkJoinPool-1-worker-3 | ui.[2] 4999.99 (35352 ms) | 35352 |
